.searchVideoScreen {
  position: relative;
  top: 65px;
}

.searchVideo__All {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 15px;
  grid-auto-flow: row;
  cursor: pointer;
  /* margin-left: 20px; */
}

.searchVideo__card {
  width: 100vw;
  height: 230px;
  background-color: rgb(255, 238, 0);
  margin-right: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.searchVideo__image {
  width: 320px;
  height: 150px;
  margin: 5px 0px 0px 20px;
}

.videoScarch__title {
  text-align: left;
  word-wrap: break-word;
  margin: 5px 0px 0px 20px;
  color: rgb(59, 59, 59);
}

.videoScarch__title:hover {
  font-weight: bold;
  color: rgb(17, 13, 13);
}

/* media query */

@media only screen and (min-width: 800px) {
  .searchVideo__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .searchVideo__card {
    width: 100%;
    height: 240px;
    background-color: rgb(255, 238, 0);
    margin-right: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@media only screen and (min-width: 1225px) {
  .videoScreenRelated > h1 {
    position: relative;
    left: 70px;
    top: -5px;
  }
  .searchVideo__All {
    width: 100vw;
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
  }

  .searchVideo__card {
    display: flex;
    flex-direction: column;
  }

  .searchVideo__image {
    width: 270px;
    margin-left: 10px;
  }

  .videoScarch__title {
    margin-left: 10px;
  }
}
